body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title.red {
  color: red;
  position: relative;
  padding-bottom: 24px;
}
.title.red::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-color: red;
}
.picture {
  max-width: 700px;
  min-width: 400px;
  padding: 15px;
  background-color: red;
  box-shadow: -3px 6px 6px 1px grey;
  margin: 40px 0;
}
.picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
